# CONFIG_ALL_NONSHARED is not set
# CONFIG_ALL_KMODS is not set
# CONFIG_ALL is not set
CONFIG_SIGNED_PACKAGES=n
CONFIG_PACKAGE_dnsmasq-dhcpv6=y
CONFIG_PACKAGE_qmp-big-node=m
CONFIG_PACKAGE_qmp-small-node=m
CONFIG_PACKAGE_qmp-tiny-node=m
CONFIG_PACKAGE_luci-app-lime-location=m
CONFIG_PACKAGE_luci-lib-libremap=m
CONFIG_PACKAGE_luci-lib-libremap-babel=m
CONFIG_PACKAGE_luci-lib-libremap-bmx6=m
CONFIG_PACKAGE_luci-lib-libremap-contact=m
CONFIG_PACKAGE_luci-lib-libremap-freifunk=m
CONFIG_PACKAGE_luci-lib-libremap-location=m
CONFIG_PACKAGE_luci-lib-libremap-olsr=m
CONFIG_PACKAGE_luci-lib-libremap-qmp=m
CONFIG_PACKAGE_luci-lib-libremap-system=m
CONFIG_PACKAGE_luci-lib-libremap-wireless=m
CONFIG_LUCI_SRCDIET=y
CONFIG_PACKAGE_libremap-agent=m
CONFIG_PACKAGE_lunced=y
CONFIG_PACKAGE_nc=y
